.container {
  min-width: 500px;
  height: auto; 
  background-color: #fff;
  padding: 40px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .todo-heading {
    text-align: center;
    text-transform: uppercase;
    color: #60686A;
    margin-bottom: 15px;
  }
  
  .todo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  
    input {
      outline: none;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #000;
      padding: 13px 10px 10px 0;
      min-width: 300px;
      font-size: 15px;
    }
  
    button {
      background-color: #565556;
      outline: none;
      border: none;
      color: #fff;
      padding: 3px 0;
      cursor: pointer;
    }
  }
  
  .todo-list {
    margin: 0 44px 20px 44px;

    .todo-note {
      color: red;
      font-size: 18px;
    }
  }
}




